@import url(https://fonts.google.com/specimen/Montserrat?query=montserrat#styles);

:root {
    font-family: Montserrat;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

main {
    background-color: rgba(0,0,0,0.8);
    border-radius: 25px;
    padding: 20px;
}

h1 {
    font-size: 45px;
    color: white;
    text-align: center;
    margin: auto auto 15px auto !important;
}

form {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#name_wrapper {
    display: grid;
    grid-template-areas: 'firstname lastname';
    grid-gap: 10px;
    width:100%;
}
#name_wrapper > *{
    width:1fr;
}

input {
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 1px solid#ccc;
}

#submit {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    height: 52px;
    width: 160px;
    text-align: center;
    font-size: 23px;
}

#submit:hover {
    background-color: black;
    color: white;
}
label{
    font-size:23px;
}
#gender_wrapper, #birth_date_wrapper{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin-bottom:20px;
}

input[type='radio']{
    height:20px;
    width:20px;
    margin:0;
}
input[type='date']{width:100%;margin:0px;}
label[for='date']{width:250px;}
input::placeholder {font-family: Montserrat;}

@media only screen and (max-width: 767px) {
    main{
        width:100%;
    }
    main > *{
        margin:10px 5%;
    }

}