@import url(fonts.css);

:root * {
    font-family: "Montserrat";
}
:root {
    --logo: url("../img/logo.jpg");
    --default-font-size: 16px;
}

html {
    font-size: var(--default-font-size);
}

/* ------------------------------- Margin & size ------------------------------- */
body {
    line-height: 2;
    margin: 0;
    width: calc(100vw-16px);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ---------------------------- Footer ------------------------------------------ */
.footer-wrapper {
    width: calc(100vw-16px);
    display: flex;
    flex-direction: column;
}

.footer-logo-wrapper {
    width: 100%;
    height: 150px;
    transform: translateY(50%);
    /*for negative margin*/
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    padding-top: 70px;
    background-color: #23272a;
    z-index: 1;
    color: white;
}

.footer-content-wrapper {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.footer-content {
    padding: 0 70px;
}

footer h1 {
    text-align: center;
    margin-bottom: 30px;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer form input[type="email"] {
    text-align: center;
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    margin: 0 30px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

footer form input[type="email"]:focus {
    outline: none;
}

footer form input[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 20px 80px;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
}

footer form input[type="submit"]:hover {
    outline: 1px solid white;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

footer #opening-time p {
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 12px 0;
}

.footer-content-wrapper> :nth-child(2) {
    display: grid;
    grid-template-rows: 4fr 1fr;
    row-gap: 20px;
}

footer .social-media-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: cover;
}

.social-media-link {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#facebook {
    background-image: url("../img/social-media/facebook.png");
}

#instagram {
    background-image: url("../img/social-media/instagram.png");
}

#twitter {
    background-image: url("../img/social-media/twitter.png");
}

/* -------------------------- Global Content Css ------------------------------ */
.content {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 40% 60%;
    z-index: 1;
}

.content-margin {
    margin:20px 180px;
}

.content-img-wrapper {
    background-color: #23272a;
}

/* --------------------------- Background ----------------------------------- */
.background {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    margin: 0px;
}


/* --------------------------- Others --------------------- */
.rounded-button {
    padding: 10px 30px;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
    color:white;
    text-decoration:none;
}
.rounded-button:hover{
    outline: 1px solid white;
}

/* ---------------------------- Responsibe css ------------------------ */
@media only screen and (max-width: 768px){
    .content-margin {
      margin: 20px 0px;
    }
    header, nav ul{
        gap:10px;
    }
    .footer-content{
        padding: 0px 20px;
        font-size:15px;
    }
    .footer-content h1{
        font-size: 20px;
    }
}

/* ...................... form css ........................... */
.error { 
    color: red ;
    border: 3px solid red;
}
