:root{
    --content-margin: 180px;
}

/* ------------------------------- Margin & size ------------------------------- */
body {
    margin: 0;
}
main {
    width: calc(100vw-16px);
    display:flex;
    flex-direction: column;
}
/* --------------------------------- nav bar -------------------------------------- */
header {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.4);
    border-radius:20px;
    padding: 10px 40px;
  } 

header, nav ul{
    display: flex;
    justify-content: space-between;
    gap: clamp(10px, 40px, 50px);
}
header a,header div {
    text-decoration: none;
    color:white;
}
header > div{
    display:flex;
    justify-content: center;
    align-items:center; 
}

header nav ul {
    list-style: none;
}
header a:hover{
    text-decoration:underline;
}
header a:hover[id="login"]{
    text-decoration:none;
}
.login-button{
    padding: 10px 30px;
    background-color:#8bc34a;
    border-radius: 30px;
    cursor:pointer;
}
.login-button:hover{
    background-color:black;
}
/* ---------------------------- Footer ------------------------------------------ */
footer{
    width:calc(100vw-16px);
    background-color:tomato;
    margin:0;
    margin-top:100px;
    height:70vh;
}

/* -------------------------- Global Content Css ------------------------------ */
.content { 
    height:70vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    z-index:1;
}
.content-margin{
    margin: 20px var(--content-margin);
}
.content-img-wrapper{
    background-color:black;
}
/* --------------------------- Top Background ----------------------------------- */
.background{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    z-index:0;
    margin:0px;
}