body {
    margin: 0;
}

.content-margin {
    margin: 0 5cm;
}

header, nav {
    display: flex;
    justify-content: space-between;
}
    
header nav * a {
    text-decoration: none;
}

header nav ul {
    list-style: none;
}